@using Eticaret.MVC
@model Eticaret.Entities.TradeUser

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Detaylar</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-2 ">
        <h4>Kullanıcı</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsAdmin)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreateOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateOn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUserName)
            </dd>

        </dl>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                @_Bootstrap.LinkButton("/Category/Edit/" + @Model.Id + "", "warrning", string.Empty, string.Empty, "edit","Düzenle")
                @_Bootstrap.LinkButton("/Category/Index/", "default", string.Empty, string.Empty, "arrow-left", "Geri Dön")
            </div>

        </div>
    </div>
</div>
